/ {
	aliases {
        heartbeat = &led0;  // this corresponds to LED1 on the board
        batterylevel = &led1;  // this corresponds to LED2 on the board
        avgheartrate = &led2;  // this corresponds to LED3 on the board
        erroronly = &led3;  // this corresponds to LED4 on the board

        hrmeasure = &button0;
        clearmeasure = &button1;
        resetdevice = &button2;
	};
};

/* I2C Pin Mapping
SCK: P0.27
SDA: P0.26
*/
&i2c0 {
    mcp9808@18{
        compatible = "jedec,jc-42.4-temp";
        reg = <0x18>;
        status = "okay";
    };

};